@model List<FakeProduct>
<div id="titulo">

	<h1>Fake Store API (REST)</h1>
	<div id="titlediv">
		<a class="btn btn-primary" asp-action="CreateProduct">Agregar</a>

	</div>
</div>
<br />
<output class="alert-info"><strong>@TempData["status"]</strong></output>
<br />
<br />
<table id="tablaRest" class="table table-striped table-bordered">

	<tr>
		<th>Nombre</th>
		<th>Precio</th>
		<th>Descripcion</th>
		<th>Categoría</th>
		<th>Acciones</th>

	</tr>
	@foreach (var prod in Model)
	{
		<tr>
			<td>@prod.title</td>
			<td>@prod.price</td>
			<td>@prod.description</td>
			<td>@prod.category</td>
			<td>
				<a asp-action="EditProduct" asp-route-id="@prod.id" class="btn-sm btn btn-warning">Editar</a>
				<a asp-action="DeleteProduct" asp-route-id="@prod.id" class="bt-sm btn btn-danger">Eliminar</a>
			</td>
			
		</tr>
	}
</table>
