@model RetoCRUDEmpleados.Models.EmpleadoWSViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="mb-4">Ingresar Empleado</h3>

            @using (Html.BeginForm("Crear", "EmpleadoWS", FormMethod.Post))
            {
                <div class="mb-3">
                    @Html.LabelFor(e => e.Nombre, new { @class = "form-label" })
                    @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control", placeholder = "Nombre del empleado" })
                    @Html.ValidationMessageFor(e => e.Nombre, "", new { @class = "text-danger" })
                </div>

				<div class="mb-3">
					@Html.LabelFor(e => e.Apellido, new { @class = "form-label" })
					@Html.TextBoxFor(e => e.Apellido, new { @class = "form-control", placeholder = "Apellido del empleado" })
					@Html.ValidationMessageFor(e => e.Apellido, "", new { @class = "text-danger" })
				</div>

				<div class="mb-3">
					@Html.LabelFor(e => e.FechaNacimiento, new { @class = "form-label" })
					@Html.TextBoxFor(e => e.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
					@Html.ValidationMessageFor(e => e.FechaNacimiento, "", new { @class = "text-danger" })
				</div>

                <div class="mb-3">
					@Html.LabelFor(e => e.FechaIngreso, new { @class = "form-label" })
					@Html.TextBoxFor(e => e.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
					@Html.ValidationMessageFor(e => e.FechaIngreso, "", new { @class = "text-danger" })
                </div>

				<div class="mb-3">
                    @Html.LabelFor(e => e.Puesto, new { @class = "form-label" })
                    @Html.TextBoxFor(e => e.Puesto, new { @class = "form-control", placeholder = "Puesto del empleado" })
                    @Html.ValidationMessageFor(e => e.Puesto, "", new { @class = "text-danger" })
				</div>

				<div class="mb-3">
                    @Html.LabelFor(e => e.SalarioBase, new { @class = "form-label" })
                    @Html.TextBoxFor(e => e.SalarioBase, "{0:F2}", new { @class = "form-control", placeholder = "Salario base del empleado" })
                    @Html.ValidationMessageFor(e => e.SalarioBase, "", new { @class = "text-danger" })
				</div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="@Url.Action("Index", "EmpleadoWS")" class="btn btn-danger">Cancelar</a>
                </div>
            }

        </div>
    </div>
</div>