@model  List<University>

@{
	ViewData["title"] = "Universidades por pais";
}


<h1>Buscar universidad por pais</h1>

<br />
<form>
	<label><h3>Pais:</h3></label>
	<input name="nombrePais" type="text" class="form-control" placeholder="Ingresa un país ejemplo: 'Guatemala' " required/>

	<br />
	<button class="btn btn-outline-success">Consultar🔍</button>
</form>


<br />

<div  id="lista-universidades" >
	<h2>🗒️Lista de universidades 🎓 </h2>
	<br />
	@foreach (var universidad in Model)
	{
		<ul>
			@if (universidad.name == "Universidad Mariano Gálvez")
			{
				<li>@universidad.name ❤️ xd | <a class="btn btn-outline-primary" href="@universidad.web_pages[0]">Pagina Oficial</a></li>
				<hr />
			}else
			{
				<li>@universidad.name | @universidad.country | 
					<a class="btn btn-outline-primary" href="@universidad.web_pages[0]">Pagina Oficial</a></li>
				<hr />
			}
		</ul>
	}
</div>