@{
    ViewData["Title"] = "Home Page";
}

<div class="home-fondo text-center">
    <h1 class="display-4">¡Bienvenido, <strong>@ViewBag.NombreCompleto</strong> !</h1>

    <div clas="home-card">

        <div class="home-card-item">

        </div>


    </div>

</div>

@section Scripts {
    <script>
        // Tomamos el nombre completo que nos mandó el servidor
        document.addEventListener("DOMContentLoaded", function () {
            var nombreCompleto = '@ViewBag.NombreCompleto';
            if (nombreCompleto) {
                mostrarAlertaExito("¡Bienvenido, " + nombreCompleto + "!");
            }
        });

        var sesionActiva = sessionStorage.getItem('sesionActiva');

        if (!sesionActiva || sesionActiva !== 'true') {
            // Borrar sesión en el servidor
            window.location.href =  '@Url.Action("Login", "Login")';
        }

        var nombreSesion = '@(Context.Session.GetString("UsrNombre"))';

        if (!nombreSesion || nombreSesion === '' || nombreSesion === 'null' || nombreSesion === 'undefined') {
            window.location.href = '@Url.Action("Login", "Login")';
        }


    </script>
}
