@model IEnumerable<Appmvc.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de personas</h2>

<p>
    @Html.ActionLink("Create new", "Create")
</p>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().codigo)</th>
        <th>@Html.DisplayNameFor(model => model.First().nombre)</th>
        <th>@Html.DisplayNameFor(model => model.First().apepat)</th>
        <th>@Html.DisplayNameFor(model => model.First().apemat)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.codigo</td>
            <td>@item.nombre</td>
            <td>@item.apepat</td>
            <td>@item.apemat</td>
        </tr>
    }
</table>
