@model List<CRUD_Usuarios_simple.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1>Eliminar Usuario</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Correo</td>
                <td>
                    <form asp-action="EliminarUsuario" asp-controller="Eliminar" method="post">
                        <input type="hidden" name="id" value="@usuario.Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Index", "Crear")">Regresar</a>
