@model List<wAppGestionVacacional.Models.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}
<div class="container">
<h2>Lista de Empleados</h2>
    <button id="btnImprimirPdf" class="btn btn-success mb-3">Generar PDF</button>
    <button class="btn btn-primary" id="toggleStyleButton">Cambiar Estilo</button>
    <table class="table table-hover">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Puesto</th>
            <th>Fecha de Ingreso</th>
            <th>Días de Vacaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.Id</td>
                <td>@empleado.Nombres</td>
                <td>@empleado.Apellidos</td>
                <td>@empleado.Puesto</td>
                <td>@empleado.FechaIngreso.ToShortDateString()</td>
                <td>@empleado.DiasVacacionesDisponibles</td>
            </tr>
        }
    </tbody>
</table>

</div>
<!-- Script para generar el PDF -->
<script>
    document.getElementById('btnImprimirPdf').addEventListener('click', function () {
        // Crear una nueva instancia de jsPDF
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        // Obtener la tabla HTML
        const tabla = document.querySelector('table');

        // Usar autoTable para convertir la tabla en el PDF
        doc.autoTable({
            html: tabla,
            styles: {
                fontSize: 10, // tamaño de la fuente
                cellPadding: 3, // espacio dentro de las celdas
                halign: 'center', // alineación horizontal
            },
            theme: 'striped' // Estilo de la tabla (puedes cambiar a 'grid' o 'plain')
        });

        // Guardar el archivo PDF con nombre
        doc.save('empleados.pdf');
    });

      // Función para cambiar el estilo
   document.getElementById("toggleStyleButton").addEventListener("click", function () {
        var defaultStyle = document.getElementById("defaultStyle");
        var modernStyle = document.getElementById("modernStyle");

        // Cambiar entre los estilos: activar uno y desactivar el otro
        if (modernStyle.disabled) {
            modernStyle.disabled = false; // Activar el estilo moderno
            defaultStyle.disabled = true; // Desactivar el estilo predeterminado
        } else {
            modernStyle.disabled = true; // Desactivar el estilo moderno
            defaultStyle.disabled = false; // Activar el estilo predeterminado
        }
    });
</script>

