@{
    ViewData["Title"] = "Login Page";
}

 <div class="container-index">
	<div class="card-index">
        <h1>Tienda Dojo Geko</h1>
        <p>
            ¡Bienvenido a nuestra tienda! Encuentra todo lo que necesitas con las mejores ofertas.
            Explora nuestros productos, agrega tus favoritos al carrito y disfruta de una experiencia de compra sencilla y rápida.
        </p>
        <a href="@Url.Action("Productos", "Productos")" class="btn btn-primary">
            <i class="fas fa-box-open me-2"></i> Ver productos
        </a>
    </div>
</div>


<script src="~/js/sweetAlerts.js" asp-append-version="true"></script>
<script>


	@if (ViewBag.MostrarAlerta == true)
    {

		var nombreCompleto = @ViewBag.NombreCompleto;

		// Razor interpolará el valor de ViewBag.NombreCompleto en la cadena JavaScript
		var saludar = "Bienvenido, " + nombreCompleto;

		// Generar el bloque de JavaScript correctamente
		<text>
				window.onload = function () {
					mostrarAlertaExito("@saludar"); // llama a la función de alerta
				};
		</text>
	}

	var sesionActiva = sessionStorage.getItem('sesionActiva');

	if (!sesionActiva || sesionActiva !== 'true') {
		// Borra sesión en el servidor si querés
		window.location.href =  '@Url.Action("Login", "Login")';
	}

	var nombreSesion = '@(Context.Session.GetString("UsrNombre"))';

	if (!nombreSesion || nombreSesion === '' || nombreSesion === 'null' || nombreSesion === 'undefined') {
		window.location.href = '@Url.Action("Login", "Login")';
	}


</script>
