@model Empleado
@{
    ViewData["Title"] = "Editar Empleado";
}

<h2>Editar empleado</h2>



@using (Html.BeginForm())
{
    <strong>@Html.LabelFor(m => m.Nombre)</strong>
    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", required = "required" })
    <br />

    <strong>@Html.LabelFor(m => m.Apellido)</strong>
    @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", required = "required" })
    <br />
    
    <strong>@Html.LabelFor(m => m.FechaNacimiento)</strong>
    @Html.TextBoxFor(m => m.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
    <br />
    
    <strong>@Html.LabelFor(m => m.FechaIngreso)</strong>
    @Html.TextBoxFor(m => m.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
    <br />
    
    <strong>@Html.LabelFor(m => m.SalarioBase)</strong>
    @Html.TextBoxFor(m => m.SalarioBase, new { @class = "form-control", required = "required" })

    <br />
    <strong>@Html.LabelFor(m => m.Puesto)</strong>
    @Html.TextBoxFor(m => m.Puesto, new { @class = "form-control", required = "required" })

    <br />
    <strong>@Html.LabelFor(m => m.Activo)</strong>
    @Html.CheckBoxFor(m => m.Activo, new {value = "true"})
    
    <br />
    <br />
    
    <input type="submit" value="Actualizar" class="btn btn-primary" />
}