@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h1>Consumo de Servicio (Countrys)</h1>

    <p><strong>@ViewBag.Capital</strong></p>

    <div>
        <form action="/" method="post">
            
            <label for="">País:</label>
            <select>
				@forEach(var country in ViewBag.Countries)
				{
				<option value="@country">@country</option>
				})
            </select>

            <button type="submit" class="btn btn-primary"></button>
        
        </form>
    </div>

    @if (ViewBag.Capital != null)
    {
        <div class="alert alert-info mt-3">
            <h2>Capital: @ViewBag.Capital</h2>
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-3">
            <h2>No hay capital disponible.</h2>
        </div>
    }   


</div>